<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Marvellous Infosystem{{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/download.png">

  
  <body>
   
    <form>
      <fieldset>
        <legend>Marvellous Label</legend>
        <p>
          <label>Marvellous Infosystem</label>
          <input type = "text"
                 id = ""
                 placeholder = "Enter your text.." />
        </p>
        <label for="statis field">Static field:</label>
<input type="text" placeholder="Enter id" id="statisc field" />
<input type="text" id="MarvellousInfosystem" value=".com" disabled/>
       
    
